{% extends 'core/base.html' %}
{% block content %}
    <style>
    body {
        background-color: rgba(42, 40, 43, 0.813); /* Establece el fondo a naranja */
    }
    </style>
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <a class="btn btn-primary btn-xl" href="{% url 'review:review_pelicula' %}">Make a Movie Review</a>
        <a class="btn btn-primary btn-xl" href="{% url 'review:review_libro' %}">Make a Book Review</a>
        <a class="btn btn-primary btn-xl" href="{% url 'review:lista_reviews_peliculas' %}">Movie Reviews</a>
        <a class="btn btn-primary btn-xl" href="{% url 'review:lista_reviews_libros' %}">Book Reviews</a>
    </div>   
{% endblock content %}
        

